.Container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px; 
    opacity: 1;
    
}

.Card{
    color: white;
    background-color: rgba(174, 174, 174, 0.474);
    box-shadow: rgba(218, 218, 218, 0.421) 0px 54px 55px, rgba(0, 0, 0, 0.923) 0px -12px 30px, rgba(0, 0, 0, 0.905) 0px 4px 6px, rgba(0, 0, 0, 0.814) 0px 12px 13px, rgba(0, 0, 0, 0.915) 0px -3px 5px;
    padding: 15px;
    border-radius: 5px;
    
    
}